*{
	font-family: arial;
	text-decoration: none;
}
/*Caja contenedora*/
.contenedor{
	width: 1200px;
	padding: 20px;
	margin: auto;
}

/*Banner*/
.banner{
	background-image: url(imagenes/banner3.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px  40px;

	display: flex;
	justify-content: center;
}
h1{
	text-align: center;
	color: white;
	font-size: 60px;
	font-weight: bold;
	font-family: Broadway;
}

.textobanner p{
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 20px;
	font-weight: bold;
	letter-spacing: 0.30em;
	word-spacing: 0.30em;
}
/*Header*/
header{
	background-color: #BF3604;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*Barra de navegacion*/

.menu{
	list-style: none;
}

.menu li{
	display: inline-block;
}
.menu li a{
	text-decoration: none;
	color: #F28705;
	padding: 5px 20px;
	font-weight: bold;
}

.menu li a:hover{
	background-color: white;
	color: #BF3604;
	box-shadow: 0 0 10px white;
}

/*seccion h2*/
.seccionTitulo{
    padding: 10px; 
}
.seccionTitulo h2{
    font-size: 30px;
    font-family: Ravie;
    color: black;
    text-align: center;
}	
.seccionTitulo p{
	font-size: 20px;
	padding-top: 10px;
	color: black; 
}

.seccionTitulo img{
	width: 30%;
	float: right;
	padding-left: 20px;

}

/*Seccion h3*/
.seccionTitulo2{
	text-align: center;
    padding: 10px; 
    margin-top: 100px;
 }
.seccionTitulo2 h3{
    font-size: 30px;
    font-family: Ravie;
}
.seccionProductos{
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.itemProductos{
	padding: 10px;
	margin: 10px;
	text-align: center;
}
.itemProductos img{
	width: 250px; 
	border: solid #2E038C 5px;
	border-radius: 20px;
}
.nombre{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: black;
}
.opciones{
	text-align: center;
	margin-top: 20px;
}
.opciones a{
	text-decoration: none;
	background-color: #F20587;
	padding: 10px 15px;
	color: white;
	font-size: 16px;
}
/*seccion h4*/
.seccionTitulo3{
	text-align: center;
	padding: 10px;
    margin-top: 10px;
}
.seccionTitulo3 h4{
    font-size: 30px;
    font-family: Ravie;
}
.seccionBlog{
	background-image: url(imagenes/blog1.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px  40px;

	display: flex;
	justify-content: center;
}
.itemBlog{
	color: white;
	font-size: 20px;

}
.itemBlog a{
	text-align: center;
	background-color: #F20587;
	padding: 10px 15px;
	color: white;
	font-size: 16px;

}
.seccionAncestrales{
	background-image: url(imagenes/blog1.WEBP);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px  40px;

	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.itemAncestrales{
	color: white;
	font-size: 20px;

}
.itemAncestrales a{
	text-align: center;
	background-color: #F20587;
	padding: 10px 15px;
	color: white;
	font-size: 16px;

}

.footer{
	margin-top: 30px;
	background-color:black;
	padding: 50px;
	font-family: arial;
	text-align: center;
}
.footer p{
    padding-bottom: 5px;
	color: white;
	font-size: 15px;
	text-align: center;
}
.footer .titulo{
	font-size: 25px;
}
.footer .info{
	float: left;
	padding-left: 300px;
	font-size: 12px;
}
.footer .politica{
	float: right;
	padding-right:300px;
	font-size: 12px;
}



/*nosotros*/
.titulo h1{
	text-align: center;
	font-family: Ravie;
	font-size: 30px;
	color: black;
}
.subtitulo1{
	padding: 10px;
	text-align: center;
}
.subtitulo1 h2{
	font-size: 25px;
}
.subtitulo2{
	padding: 10px;
	text-align: center;
}

.subtitulo2 h3{
	font-size: 25px;
}
.seccionTitulo4 p{
	text-align: center;

}
.seccionTitulo4 h4{
    font-size: 30px;
    font-family: Ravie;
    text-align: center;
}
.seccionColecciones{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 40px;
}
.seccionColecciones img{
	width: 300px;
	padding: 20px;
}
.itemColecciones{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	
}
.itemColecciones p{
	font-size: 15px; 
}
.itemColecciones a{
	background-color: #F20587;
	padding: 10px 20px;
	color: white;
	font-size: 16px;
}


/*footer*/
.footer{
	margin-top: 30px;
	background-color:black;
	padding: 50px;
	font-family: arial;
	text-align: center;
}
.footer p{
    padding-bottom: 5px;
	color: white;
	font-size: 15px;
	text-align: center;
}
.footer .titulo{
	font-size: 25px;
}
.footer .info{
	float: left;
	padding-left: 300px;
	font-size: 12px;
}
.footer .politica{
	float: right;
	padding-right:300px;
	font-size: 12px;
}