*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth
}
body{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

/*------- SCROLL COLOR ---------*/
body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 4px;
}

/*------ BARRA DE MANU -------*/
nav{
    position: fixed;
    z-index: 100;
    transition: 0.5s;
}
nav.hide{
    transform: translateY(-100%);
}
.nav-menu{
    background-color: #bf3604;
    width: 100%;
}
.nav-menu .nav-menu2{
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu2 .logo-text{
    display: flex;
    align-items: center;
}
.logo-text .logo img{
    width: 90%;
}
.nav-menu .nav-menu2 span{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
 }
.nav-menu .nav-menu2 ul{
    display: flex;
    list-style: none;
}
.nav-menu .nav-menu2 ul li{
    margin: 0px 6px;
}
.nav-menu2 ul li .inicio{
    border-bottom: #fff 2px solid;
}
.nav-menu2 ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-menu2 ul li a:hover{
    border-bottom: 2px solid #fff;
}

/*------- Caja contenedora --------*/
.contenedor1{
	width: 100%;
	padding: 70px 0px 30px 0px;
}
.contenedor2{
	width: 90%;
    height: 100%;
    margin: auto;
    padding: 50px 0px 0px;
}

/*--------- Banner -----------*/
.banner{
	width: 100%;
	height: 550px;
	background: url(../imagenes/banner3.png) no-repeat center center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	font-size: 60px;
	font-weight: bold;
	font-family: Broadway;
}

.textobanner p{
	font-size: 20px;
	color: white;
	text-shadow: 0px 0px 1px #fff;
	text-align: center;
	padding: 20px 0px;
	font-weight: bold;
	letter-spacing: 0.30em;
	word-spacing: 0.30em;
}

/*------ SECCION TUITULO -------*/

.seccionTitulo h2{
	text-align: center;
}
.seccionTitulo .caja-padre{
	display: flex;
	align-items: center;
	margin-top: 18px;
	gap: 20px;
}
.caja-padre .caja1{
	width: 70%;
}
.caja-padre .caja2{
	width: 30%;
}
.caja-padre .caja2 img{
	width: 100%;
	border-radius: 2px;
}

/*--------- Seccion h3 ----------*/
.seccionTitulo2{ 
    margin-top: 70px;
}
.seccionTitulo2 .barra{
	width: 100%;
	height: 3px;
	background-color: #ECECEC;
	margin-top: 5px;
}
.seccionTitulo2 .barra2{
	width: 21%;
	height: 3px;
	background-color: #D4D4D4;
}
.seccionTitulo2 h3{
    font-size: 30px;
    font-family: Ravie;
}

.seccionProductos{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.itemProductos{
	width: 25%;
	height: 100%;
	text-align: center;
}
.itemProductos img{
	width: 100%;
	height: 300px; 
	border: solid #2E038C 3px;
	border-radius: 15px;
}
.itemProductos h3{
	margin: 10px 0px;
}
.nombre{
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: black;
}


.opciones{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}
.opciones a{
	display: inline-block;
	text-decoration: none;
	background-color: #F20587;
	border: 2px solid #F20587;
	padding: 10px 15px;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	transition: all ease 0.3s;
}
.opciones a:hover{
	background-color: #fff;
	color: #F20587;
	border: 2px solid #F20587;
	border-radius: 4px;
}
	


/*seccion h4*/
.seccionTitulo3{
    margin-top: 10px;
}
.seccionTitulo3 h4{
    font-size: 30px;
    font-family: Ravie;
}
.seccionTitulo3 .barra{
	width: 100%;
	height: 3px;
	background-color: #ECECEC;
	margin-top: 5px;
	margin-bottom: 40px;
}
.seccionTitulo3 .barra2{
	width: 30%;
	height: 3px;
	background-color: #D4D4D4;
}
.caja-blog{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 15px;
}
.seccionBlog{
	background: url(../imagenes/blog1.png) no-repeat center center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.itemBlog{
	color: white;
	font-size: 25px;
	text-shadow: 0px 0px 1px #fff;
}
.itemBlog .boton{
	text-align: center;
}
.itemBlog a{
	margin-top: 8px;
	display: inline-block;
	text-align: center;
	background-color: #F20587;
	border: 2px solid #F20587;
	border-radius: 4px;
	padding: 8px 14px;
	color: white;
	font-size: 14px;
	text-decoration: none;
	transition: all ease 0.3s;
}
.itemBlog a:hover{
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #F20587;
	border-radius: 4px;
}
.seccionAncestrales{
	background: url(../imagenes/blog2.png) no-repeat center center/cover;
	padding: 200px  40px;

	display: flex;
	justify-content: center;
}
.itemAncestrales{
	color: #fff;
	font-size: 25px;
	text-shadow: 0px 0px 1px #fff;

}
.itemAncestrales .boton{
	text-align: center;
}
.itemAncestrales a{
	margin-top: 8px;
	display: inline-block;
	text-align: center;
	background-color: #F20587;
	border: 2px solid #F20587;
	border-radius: 4px;
	padding: 8px 14px;
	color: white;
	font-size: 14px;
	text-decoration: none;
	transition: all ease 0.3s;

}
.itemAncestrales a:hover{
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #F20587;
	border-radius: 4px;
}

/*------ FOOTER -------*/
footer{
    background-color: #000000;
    width: 100%;
    height: 200px;
}
footer .final{
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 15px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.final .normas{
    display: flex;
    align-items: center;
}
.final .normas ul li{
    list-style: none;
    padding: 4px 0px;
}
.final .normas ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}
.final .normas ul li a:hover{
    text-decoration: none;
    color: #bf3604;
}
.final .lista{
    display: flex;
    align-items: center;
    justify-content: end;
}
.final .lista ul li{
    list-style: none;
    padding: 4px 0px;
}
.final .lista ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}
.final .lista ul li a:hover{
    text-decoration: none;
    color: #bf3604;
}
.final .logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.final .logos span{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.final .logos .copy p{
    color: #fff;
    font-size: 12px;
    margin: 3px 0px;
}
.final .logos .barra{
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 15px;
    margin-top: 5px;
}
.final .logos .icons a i{
    color: #fff;
    font-size: 30px;
    transition: all 0.3s ease;
}
.final .logos .icons a{
    text-decoration: none;
    margin: 0px 15px;
}
.final .logos .icons a i.fb:hover{
    color: #4267B2;
    transform: scale(1.2);
}
.final .logos .icons a i.mail:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.2);
}
.final .logos .icons a i.twit:hover{
    color: #1DA1F2;
    transform: scale(1.2);
}
.final .logos .icons a i.ig:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}
.final .logos .icons a i.wsp:hover{
    color: #25D366;
    transform: scale(1.2);
}



